<div class="service-text col-md-2">

    <img src="{{ post.data.image }}" alt="{{ post.data.imageAlt }}">

</div>

<div class="service-text-2 col-md-4">
    <h1><b>{{ post.data.title }}</b></h1>
    <p>{{ post.data.description }}</p>
</div>